/*General*/
.text-left{
    text-align: left !important;
}
.block-bottom{
    position: absolute;
    bottom: 0;
}
.block-bottom-rigth{
    right: 0 !important;
}

/*RIO GENERAL*/
.rio-calc fieldset{
    min-height: 400px;
    position: relative;
}
.rio-page {
    display: none;
}
/*stepform Icon triangle */
.stepform-right:before{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 13px solid #ffffff;
    border-bottom: 40px solid transparent;
    position: absolute;
    left: 15px;
    top: 148px;

}
.stepform-right{
    background: url(riocalc.png) no-repeat bottom right #0088CC;
    color: #FFFFFF;
    padding:20px 28px;
    min-height:400px;
}

/*range input style*/
.rio-calc input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 4.05px 0;
    display:inline-block;
}
.rio-calc input[type=range]:focus {
    outline: none;
}
.rio-calc input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.9px;
    cursor: pointer;
    background: rgba(52, 152, 219, 0.78);
    border-radius: 0.4px;
}
.rio-calc input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #2e85bf;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.05px;
}
.rio-calc input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(52, 152, 219, 0.78);
}
.rio-calc input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.9px;
    cursor: pointer;
    background: rgba(52, 152, 219, 0.78);
    border-radius: 0.4px;
    border: 0px solid rgba(0, 0, 0, 0);
}
.rio-calc input[type=range]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #2e85bf;
    cursor: pointer;
}
.rio-calc input[type=range]::-ms-track {
    width: 100%;
    height: 6.9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.rio-calc input[type=range]::-ms-fill-lower {
    background: rgba(52, 152, 219, 0.78);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0.8px;
}
.rio-calc input[type=range]::-ms-fill-upper {
    background: rgba(52, 152, 219, 0.78);
    border-radius: 0.8px;
}
.rio-calc input[type=range]::-ms-thumb {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #2e85bf;
    cursor: pointer;
    height: 6.9px;
}
.rio-calc input[type=range]:focus::-ms-fill-lower {
    background: rgba(52, 152, 219, 0.78);
}
.rio-calc input[type=range]:focus::-ms-fill-upper {
    background: rgba(52, 152, 219, 0.78);
}

/*progress bar*/
.rioProgessbar{
    counter-reset: step;

}
.rioProgessbar ul{
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.rioProgessbar li{
    list-style-type: none;
    width: 33.3%;
    float: left;
    line-height: 150px;
    text-align: center;
    color: #666;
    position: relative;
    cursor: pointer;
    display: block;
    height: 100px;
}
.rioProgessbar li:before{
    content: counter(step);
    counter-increment: step;
    display: block;
    width: 55px;
    line-height: 50px;
    font-size: 18px;
    color: #5F5C5C;
    background-color: #F1F1F1;
    border-radius: 50%;
    border: 4px solid #EBECEF;
    position: absolute;
    z-index: 170;
    top: 0px;
    right: 163px;
    height: 55px;
}
.rioProgessbar li:after{
    content: '';
    width: 100%;
    height: 4px;
    background-color: #EBECEF;
    position: absolute;
    left: -50%;
    top: 30px;
    z-index: 140;
}
.rioProgessbar li:first-child:after{
    display:none;
}
.rioProgessbar li.rioactive-p:before{
    background-color: #0088CC !important;
    color: #FFFFFF;
}
.rioProgessbar li.rioactive-p:after{
    background-color: #0088CC !important;
}